################################################
# global configuration
#  more details: https://github.com/dmachard/go-dnscollector/blob/main/docs/configuration.md#global
################################################
global:
  trace:
    verbose: true
  server-identity: "dns-collector"
  text-format: "timestamp-rfc3339ns identity operation rcode queryip queryport family protocol length-unit qname qtype latency"
  text-format-delimiter: " "
  text-format-boundary: "\""
  pid-file: ""
  worker:
    interval-monitor: 10
  telemetry:
    enabled: true
    web-path: "/metrics"
    web-listen: ":9165"
    prometheus-prefix: "dnscollector_exporter"
    tls-support: false
    tls-cert-file: ""
    tls-key-file: ""
    client-ca-file: ""
    basic-auth-enable: false
    basic-auth-login: admin
    basic-auth-pwd: changeme

################################################
# Pipelining configuration
#   more details: https://github.com/dmachard/go-dnscollector/blob/main/docs/running_mode.md#pipelining
#   workers: https://github.com/dmachard/go-dnscollector/blob/main/docs/workers.md
#   transformers: https://github.com/dmachard/go-dnscollector/blob/main/docs/transformers.md
################################################
pipelines:
  - name: tap
    dnstap:
      listen-ip: 0.0.0.0
      listen-port: 6000
    transforms:
      normalize:
        qname-lowercase: true
    routing-policy:
      forward: [ console ]
      dropped: [ ]

  - name: console
    stdout:
      mode: text

  # - name: devnull
  #   devnull:
  #     mode: text

  # - name: logfile
  #   logfile:
  #     file-path: /tmp/test.log

################################################
# DEPRECATED - multiplexer configuration
#   more details: https://github.com/dmachard/go-dnscollector/blob/main/docs/running_mode.md#multiplexer
#   workers: https://github.com/dmachard/go-dnscollector/blob/main/docs/workers.md
#   transformers: https://github.com/dmachard/go-dnscollector/blob/main/docs/transformers.md
################################################
# multiplexer:
#   collectors:
#     - name: tap
#       dnstap:
#         listen-ip: 0.0.0.0
#         listen-port: 6000
#       transforms:
#         normalize:
#           qname-lowercase: true
#   loggers:
#     - name: console
#       stdout:
#         mode: text
#   routes:
#     - from: [ tap ]
#       to: [ console ]
