################################################
# global configuration
#  more details: https://github.com/dmachard/go-dnscollector/blob/main/docs/configuration.md#global
################################################
global:
  trace:
    verbose: true
  server-identity: "dns-collector"
  text-format: "timestamp-rfc3339ns identity operation rcode queryip queryport family protocol length-unit qname qtype latency"
  text-format-delimiter: " "
  text-format-boundary: "\""
  pid-file: ""
  worker:
    interval-monitor: 10
  telemetry:
    enabled: true
    web-path: "/metrics"
    web-listen: ":9165"
    prometheus-prefix: "dnscollector_exporter"

################################################
# Pipelining configuration
#   more details: https://github.com/dmachard/go-dnscollector/blob/main/docs/running_mode.md#pipelining
#   workers: https://github.com/dmachard/go-dnscollector/blob/main/docs/workers.md
#   transformers: https://github.com/dmachard/go-dnscollector/blob/main/docs/transformers.md
################################################
pipelines:
  - name: tap
    dnstap:
      listen-ip: 0.0.0.0
      listen-port: 6000
    transforms:
      normalize:
        qname-lowercase: true
      filtering:
        log-queries: true
        log-replies: false
    routing-policy:
      forward: [ console1 ]
      dropped: [ console2 ]

  - name: console1
    stdout:
      mode: text

  - name: console2
    stdout:
      mode: text

################################################
# DEPRECATED - multiplexer configuration
#   more details: https://github.com/dmachard/go-dnscollector/blob/main/docs/running_mode.md#multiplexer
#   workers: https://github.com/dmachard/go-dnscollector/blob/main/docs/workers.md
#   transformers: https://github.com/dmachard/go-dnscollector/blob/main/docs/transformers.md
################################################
# multiplexer:
#   collectors:
#     - name: tap
#       dnstap:
#         listen-ip: 0.0.0.0
#         listen-port: 6000
#       transforms:
#         normalize:
#           qname-lowercase: true
#   loggers:
#     - name: console
#       stdout:
#         mode: text
#   routes:
#     - from: [ tap ]
#       to: [ console ]
