name: Code checking

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  codechecking:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-go@v3
      with:
        go-version: '1.19'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.50.1
 